@import  url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    cursor: url("../public/Assets/NORMAL.cur") 4 4, auto;
} 

:root{
    --primary-color: #f6f0f0  ;
    --secondary-color: #D10000 ;
    --text-color: #333333;
    --box-color :#f7f2f2; 
    --box-shadow : 0 4px 10px rgba(0,0,0,0.08);
    --bg-color: #f1ebeb ;
    --border-color: rgba(23, 21, 21, 0.08);
    --hover-color:#eb5b4b84;
    --textMenu-color : #333333;
}
/* BODY-------------------------------------- */
body{
  min-height: 100vh;
  background: var(--primary-color);
  font-family: "Roboto", sans-serif; 
  transition: 0.3s, color 0.3s;
  color: var(--text-color);
}

body.darkMode{ /*DARK MODE*/
  background: var(--text-color);
  color: var(--primary-color);
  --box-color : #3f3e3e;
  --box-shadow : 0 4px 10px rgba(221, 203, 203, 0.507);
  --textMenu-color : #f6f0f0 ;
}

/* HEADER-------------------------------------- */

.logo{
  width: 100%;
  display: grid;
}

.logo img{
  left: 10px;
  width: 20%;
  }

/* .logo h1{ /texte sous le logo à valider/
  height: 20px;
  margin-left: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8vh;
  text-shadow: -3px 7px 3px var(--text-color);
  color: var(--secondary-color);
} */

.navbar{
  width: 100%;
  height: 60%;
  background: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* DROPDOWN MENU PRINCIPAL-------------------------------------- */
.dropBtn{
  background: var(--secondary-color);
  border: solid 2px;
  border-radius: 20px;
  color: var(--primary-color);
  width: 60px;
  font-size: 1.5vh;
  letter-spacing: 1.8px;
  padding: 3px 3px;
  margin-left: 5px;
}

.dropBtn:hover{
  background: var(--hover-color);
}

.dropDown{
  position: relative;
  display: inline-block;
  align-self: center;
  
}

.dropdownContent {
  display: block;
  overflow: hidden;  
  position: absolute;
  background-color: var(--box-color);
  min-width: 160px;
  box-shadow: var(--box-shadow);
  z-index: 1;
  opacity: 0;
  max-height: 0; 
  transition: max-height 0.3s ease, opacity 0.3s ease;
  }

.dropdownContent a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: var(--textMenu-color);
}

.dropdownContent a:hover {
  background: var(--hover-color);
  color: var(--primary-color);
  
}

.dropdownContent.show {
  max-height: 500px;          
  opacity: 1;                  
}

.show {
  display: block;
}

.dropDown .inputSearch{
  font-size: 0.7em;
  border-radius: 20px;
  width: 97%;
}
.dropDown .btn-submit{
  border-radius: 20px;
  font-size: 1.3vh;
  width: 35%;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.dropDown .btn-submit:hover{
  background: var(--hover-color);
}

/* MENUS NAVBAR -------------------------------------- */

.navbar li .dropdownContent {
  right: 0px;
}

.navbar .dropdownContent a {
  color: var(--textMenu-color);
  text-decoration: none;
  font-size: 0.95em;
  padding: 12px 16px; 
  right: 0px;
}

.navbar .dropdownContent a:hover {
  background: var(--hover-color);
  color: var(--primary-color);
}
.navbar ul{
  width: 250px;
  display: flex;
  justify-content: flex-end; 
}
.navbar ul li{
  position: relative;
  list-style: none;  
  padding: 10px;
}
.navbar ul li a{
  text-decoration: none;
  color: white; 
  font-size: 0.7em; 
}
.navbar a:hover {
  color: var(--hover-color);
}

.navbar img{
  width: 20px;
  height: 20px;
  display: flex;
  justify-self: center;
  
}
.darkContainer{
  width: 60px;
  display: flex;
  align-self: center;
  justify-content:center ;
}

.navbar #darkModeBtn{
  background: var(--secondary-color);
  border: solid 2px;
  border-radius: 20px;
  color: var(--primary-color);
  border-radius: 20px;
  width: 50px;
  font-size: 0.6em;
}
.navbar #darkModeBtn:hover{
  background: var(--hover-color);  
}

/* MODALES A PROPOS----------------------------*/
.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  width: 100%; 
  height: 100%; 
  overflow: auto; /*Autoriser le scroll */
  background: var(--box-color);
  background-color: rgba(0, 0, 0, 0.399); /* opacité du body derrière la modale */
}
.modal-content {
  background-color: var(--box-color);
  margin: 15% auto; 
  padding: 20px;
  border: var(--border-color) solid 0.9px;
  box-shadow: var(--box-shadow);
  width: 80%; 
}
.close, .close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
}

.modal .inputMail{
  font-size: 0.7em;
  border-radius: 20px;
  width: 40%;
}

.modal .btn-submit{
  border-radius: 20px;
  font-size: 1.3vh;
  width: 10%;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.modal .btn-submit:hover{
  background: var(--hover-color);
}

/* MAIN-------------------------------------- */

ul{
  list-style: none;
}

main{
    min-height: 500px;
    width: 100%;
  }
h1{
  
  text-align: center;
  font-size: 1.8em;
}

h2{
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
}

h3{

  text-align: center;
  font-size: 2em;
}

.fichesProduit{
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.fiche{
  width: 180px;        
  min-height: 200px; 
  background: var(--box-color);
  padding: 30px;
  border: var(--border-color) solid 0.9px;
  box-shadow: var(--box-shadow);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
} 

.fiche #addListBtn{
  border-radius: 20px;
}

.fiche #rmListBtn{
  background: var(--secondary-color);
  color: var(--bg-color);
  border-radius: 20px;
}

.fiche #addListBtn:hover{
  background: var(--hover-color);
}

.fiche #rmListBtn:hover{
  background: var(--hover-color);
}

.fiche img {
    display: block;
    margin: 0 auto;
}

.fiche input{
  padding: 0 5px;
}

.comingSoon img{
  width: 87px;
  height: 135px;
}

/* FOOTER-------------------------------------- */

footer{
    min-height: 100px;
    width: 100%;
    background: var(--secondary-color);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "vi in bt"
    "li li li"
    "img img img"
    "ri ri ri";
    
}

footer .inputMail{
  height: 40%;
  width: 100%;
  color: var(--text-color);
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 0.7em;
  grid-area: in;
  border-radius: 20px;
}

footer .footerLinks{
  grid-area: li;
  display: flex;
  justify-self: center;
  align-self: center;
  gap: 24px;
}

footer .btn-submit{
  margin-left: 10px;
  padding: auto;
  height: 50%;
  width: 30%;
  grid-area: bt;
  display: flex;
  justify-self: flex-start;
  align-self: center;
  border-radius: 20px;
  font-size: 1.3vh;
  background: var(--secondary-color);
  color: var(--primary-color);
}

footer .btn-submit:hover{
  background: var(--hover-color);
}

footer .rights{
  grid-area: ri;
  font-size: 1vh;
  color: rgb(250, 250, 250);
  margin: 10px;
  display: flex;
  justify-self: center;
  align-self: center;
  
}
footer ul li {
  list-style: none;

}

footer ul li a{
  text-decoration: none;
  color: white; 
  font-size: 0.7em;
  
}

footer .footerLogo{
  width: 20%; 
  grid-area: img;
  justify-self: center; 
  align-self: center;
  
}



/* RESPONSIVE-------------------------------------- */

@media screen and (max-width: 850px) {
    main .fichesProduit {
        flex-direction: column;
        align-items: center;
        
    }
}