@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    cursor: url("../public/Assets/NORMAL.cur") 4 4, auto;
} 

:root{
    --primary-color: #f6f0f0  ;
    --secondary-color: #D10000 ;
    --text-color: #333333;
    --bg-color: #E6E6E6 ;
    --border-color: rgba(23, 21, 21, 0.08);
    --hover-color:#eb5b4b;
}
/* HEADER-------------------------------------- */
body{
  min-height: 100vh;
  background: var(--primary-color);
  font-family: "Roboto", sans-serif; 
}
/* HEADER-------------------------------------- */

.logo{
  width: 100%;
  height: 80px;
  display: grid;
}

.logo img{
  margin-left: 20px;
  width: 20%;
  }

.logo h1{
  height: 20px;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8vh;
  text-shadow: -3px 7px 3px #0000002e;
  color: rgb(231, 0, 17);
}

.navbar{
  
  width: 100%;
  height: 40px;
  background: var(--secondary-color);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.navbar ul{
  
  width: 250px;
  display: flex;
  justify-content: space-evenly;

  
}
.navbar ul li{
  list-style: none;
  
  
}
.navbar ul li a{
  text-decoration: none;
  color: white; 
  font-size: 0.7em; 
}
.navbar a:hover {
  color: var(--hover-color);
}

.navbar img{
  width: 15px;
  height: 15px;
  margin: 5px;
  display: flex;
}
/* MAIN-------------------------------------- */

main{
    min-height: 500px;
    width: 100%;

}

main h2{
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

main h3{
  font-style: "Roboto", sans-serif;
  text-align: center;
  font-size: 2em;
}

main .fichesProduit{
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

main .fiche{
  background-color: var(--primary-color);
  padding: 30px;
  border: var(--border-color) solid 0.9px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
} 

main .fiche h4{
  text-align: center;
}

main .fiche #addListBtn{
  background: var(--secondary-color);
  color: var(--bg-color);
  
}

main .fiche #addListBtn:hover{
  background: var(--hover-color);
}

main .fiche #rmListBtn:hover{
  background: var(--hover-color);
}

main .fiche img{
  display: flex;
  justify-self: center;
}

main .fiche input{
  padding: 0 5px;
}

/* FOOTER-------------------------------------- */

footer{
    min-height: 100px;
    width: 100%;
    background: var(--secondary-color);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "vi in bt"
    "li li li"
    "img img img"
    "ri ri ri";
    
}

footer .inputMail{
  height: 50%;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 0.7em;
  grid-area: in;
}

footer .footerLinks{
  grid-area: li;
  display: flex;
  justify-self: center;
  align-self: center;
  gap: 24px;
}

footer .btn-submit{
  margin-left: 10px;
  height: 70%;
  width: 50%;
  grid-area: bt;
  display: flex;
  justify-self: start;
  align-self: center;
}

footer .rights{
  grid-area: ri;
  font-size: 1vh;
  color: rgb(250, 250, 250);
  margin: 10px;
  display: flex;
  justify-self: center;
  align-self: center;
  
}
footer ul li {
  list-style: none;

}

footer ul li a{
  text-decoration: none;
  color: white; 
  font-size: 0.7em;
  
}

footer .footerLogo{
  width: 20%; 
  grid-area: img;
  justify-self: center; 
  align-self: center;
  
}



/* RESPONSIVE-------------------------------------- */

@media screen and (max-width: 640px) {
    main .fichesProduit {
        flex-direction: column;
        align-items: center;
        
    }
}